<div id="game">
	<h1>Blackjack!</h1>
	<h4 class="h4-username"> Player: <%= session[:user_name] %> - Bet amount: <%= session[:bet_amount] %>$ </h4>
	<br>

	<!-- PLAYERS HAND-->
	<div class="well">
		<h4><%= session[:user_name] %>'s hand</h4>
			<ul class="thumbnails">
				<% session[:player_hand].each do |card| %>
				<li class="span4 card">
					<div class="thumbnail">
						<%= card_image(card) %> 
						<% end %>
					</div>
				</li>
			</ul> <!-- end of ul 'thumbnails' -->
		<p> TOTAL: <%= session[:player_total] %> </p>
	</div> <!-- end of 'well' -->


	<!-- DELAERS HAND-->
	<div class="well">
		<h4> Dealer's hand</h4>
			<ul class="thumbnails">
				<% if @show_dealer_data %>
					<% session[:dealer_hand].each do |card| %>
					<li class="span4 card">
						<div class="thumbnail">
							<%= card_image(card) %> 
						<% end %>
						</div>
					</li>
				<%else%>
					<li class="span4 card">
						<div class="thumbnail">
							<%= card_image(session[:dealer_hand][0]) %>
						</div>
					</li>
					<li class="span4 card">
						<div class="thumbnail">						
							<img class='img-thumbnail' src='/images/cards/cover.jpg'>
						</div>
					</li>
				<%end%>
			</ul> <!-- end of ul 'thumbnails' -->
		<% if @show_dealer_data %>
			<p> TOTAL: <%= session[:dealer_total] %></p>	
		<%end%>
	</div> <!-- end of 'well' -->
	<br>


	<!-- HIT / STAY BUTTONS -->
	<% if @show_hit_or_stay_btn %>
		<form id="hitform" action="/ingame" method="post" class="form-inline">
			<button id="hit" class="btn btn-danger btn-mine hit" name="hit">Hit</button>
		<form id="stayform" action="/ingame" method="post" class="form-inline">
		
		</form>
			<button class="btn btn-success btn-mine stay" name="stay">Stay</button>
		</form>
	<%end%>

	<% if @show_replay_btn %>
	<!-- REPLAY BUTTON -->
		<h5></h5>
		<form action="/bet_amount" method="post" class="form-inline">
			<button class="btn btn-primary replay" name="replay">Replay</button>
		</form>
	<%end%>
</div>