<h3>Blackjack starts here</h3>
<p> Player: <%= session[:user_name] %> </p>
<p> Bet: <%= session[:bet_amount] %> </p>
<br>

<p>Dealer's hand</p>
	<ul>
		<% session[:dealer_hand].each do |card| %>
		<li><%= p card %> </li>
		<% end %>
	</ul>

<p> <%= session[:user_name] %>'s hand</p>
	<ul>
		<% session[:player_hand].each do |card| %>
		<li> <%= p card %> </li>
		<% end %>
	</ul>

<form action="/hit_stay" method="post" class="form-inline">
	<button class="btn btn-danger hit" name="hit">Hit</button>
	<button class="btn btn-warning stay" name="stay">Stay</button>
</form>